*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
form{
    width: 100vh;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    color: rgb(185, 44, 44);
}